<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DH_Heroes</title>
</head>
<body>
    <section>
        <div>
            <h1> HEROES</h1>
        </div>
        <div>
            <ol>
                <li><a href="./babbege" ><b>Babbege</b></a></li>
                <li><a href="./berners_lee" ><b>Berners_lee</b></a></li>
                <li><a href="./charke" ><b>charke</b></a></li>
                <li><a href="./hamilton" ><b>hamilton</b></a></li>
                <li><a href="./hopper" ><b>hopper</b></a>
                </li>
                <li><a href="./lovelace" ><b>Lovelace</b></a></li>
                <li><a href="./turing" ><b>Turing</b></a></li>
            </ol>
        </div>
    </section>
</body>
</html>